/* VALIDATION */
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  color: #b94a48;
  padding: 2px 8px;
  margin-top: 2px;
}
/* END VALIDATION */

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 50px auto 50px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
header
{
	margin-bottom: 20px;
}
.error.valid
{
	display: none !important;
}
.content
{
	margin-top: 20px;
}